{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
<div class="d-flex col-12 p-3 justify-content-center" style="margin-top:100px;">
    <div class="alert alert-success text-start justify-content-center col-5" role="alert">
      <h4 class="alert-heading">À propos</h4>
            <p>
                Lorem ipsum dolor sit
                amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Maecenas accumsan lacus vel facilisis volutpat est. Varius sit amet mattis vulputate enim nulla
                aliquet porttitor lacus. Erat velit scelerisque in dictum non consectetur. Tempus imperdiet nulla
                malesuada pellentesque elit eget gravida cum. Viverra maecenas accumsan lacus vel facilisis.
                Accumsan tortor posuere ac ut. Egestas tellus rutrum tellus pellentesque eu tincidunt tortor
                aliquam nulla. Amet venenatis urna cursus eget nunc. Neque sodales ut etiam sit. Urna neque viverra
                justo nec ultrices dui sapien eget. Vitae proin sagittis nisl rhoncus. Etiam sit amet nisl purus in
                mollis nunc sed. Pellentesque pulvinar pellentesque habitant morbi tristique senectus et netus et.
            </p>
    </div>
    <div class="alert alert-primary col-5 ms-5" role="alert">
      <h4 class="alert-heading">À propos</h4>
            <p>
                At volutpat diam ut venenatis tellus in metus vulputate eu. Ultrices eros in cursus turpis massa.
                Massa vitae tortor condimentum lacinia. Tellus in hac habitasse platea dictumst vestibulum rhoncus.
                Vitae suscipit tellus mauris a diam maecenas sed. Aliquet nibh praesent tristique magna sit amet.
                Varius duis at consectetur lorem donec massa sapien. Commodo ullamcorper a lacus vestibulum sed arcu
                non odio. Convallis convallis tellus id interdum velit laoreet. Purus semper eget duis at tellus.
                Nunc faucibus a pellentesque sit amet porttitor eget dolor morbi. Sodales ut etiam sit amet nisl
                purus in mollis nunc. Volutpat odio facilisis mauris sit.
            </p>
    </div>
</div>
<div class="alert alert-danger col-11 ms-5 p-3" role="alert">
  <h4 class="alert-danger">À propos</h4>
        <p>            
            Vel eros donec ac odio tempor orci dapibus ultrices in. Sit amet volutpat consequat mauris nunc.
            Condimentum id venenatis a condimentum vitae. Interdum velit euismod in pellentesque massa placerat 
            duis ultricies. Nunc aliquet bibendum enim facilisis gravida neque convallis a cras. Morbi tristique 
            senectus et netus et malesuada fames ac turpis. Sed odio morbi quis commodo odio aenean sed 
            adipiscing diam. Ut diam quam nulla porttitor massa id. Mauris nunc congue nisi vitae suscipit 
            tellus. Neque vitae tempus quam pellentesque nec. Non enim praesent elementum facilisis leo. 
            A condimentum vitae sapien pellentesque. Amet est placerat in egestas erat imperdiet. In iaculis 
            nunc sed augue lacus viverra. Sed cras ornare arcu dui vivamus arcu felis bibendum ut. Lorem ipsum 
            dolor sit amet consectetur adipiscing. Imperdiet proin fermentum leo vel.
        </p>
</div>
{% endblock %}
