{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
<div class="d-flex col-12 p-3 justify-content-center" style="margin-top:100px;">
    <div class="alert alert-success text-start justify-content-center col-5" role="alert">
      <h4 class="alert-heading">À propos</h4>
            <p>
                À propos de Climair :


Climair est une entreprise spécialisée dans l'installation thermique et climatique. 
Fondée en 2020, nous sommes fiers de fournir des services rapides, sur mesure et efficaces à nos clients. 
Nous nous engageons à offrir des solutions adaptées à vos besoins et à vous garantir un confort optimal tout au long de l'année.
 Rejoignez notre équipe de professionnels qualifiés pour bénéficier de nos services de qualité.
            </p>
    </div>
</div>
{% endblock %}
