{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}

 <section class="bg-success py-5">
        <div class="container">
            <div class="row align-items-center py-5">
                <div class="col-md-8 text-white">
                    <h1>À propos</h1>
                    <p>
Climair est une entreprise spécialisée dans l'installation thermique et climatique. 
Fondée en 2020, nous sommes fiers de fournir des services rapides, sur mesure et efficaces à nos clients. 
Nous nous engageons à offrir des solutions adaptées à vos besoins et à vous garantir un confort optimal tout au long de l'année.
 Rejoignez notre équipe de professionnels qualifiés pour bénéficier de nos services de qualité.
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="assets/img/about-hero2.svg" alt="About Hero">
                </div>
            </div>
        </div>
    </section>
    <!-- Close Banner -->

   
{% endblock %}
