{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}



    <!-- Start Banner Hero -->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="assets/img_accueil/image_accueil_5.png" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"><b>Climair</b> <br> Vente et installation de Climatisation</h1>
                                <h3 class="h2">Professionnel en froid et climatisation depuis 2020</h3>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="assets/img_accueil/image_accueil_2.png" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1">Des gammes complètes</h1>
                                <h3 class="h2">Trouvez les produits correspondants à vos besoin</h3>
                                <p>
                                   <a href="/boutique">Visitez notre boutique</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="assets/img_accueil/image_accueil_6.png" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1">Des professionnel à votre service</h1>
                                <h3 class="h2">Devis - Installation - Dépannage </h3>
                                <p>
                                    <a href="/prestations">Prenez rendez-vous maintenant avec un professionnel</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <!-- End Banner Hero -->


    <!-- Start Categories of The Month -->
    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Des marques éprouvées</h1>
                <p>
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#"><img src="assets/img_accueil/image_catégories_clim_samsung.png" class="rounded-circle img-fluid border"></a>
                <h5 class="text-center mt-3 mb-3">Samsung</h5>
                <p class="text-center"><a class="btn btn-success">Voir l'article</a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#"><img src="assets/img_accueil/image_catégories_clim_mitsu.jpg" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Mitsubishi</h2>
                <p class="text-center"><a class="btn btn-success">Voir l'article</a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#"><img src="assets/img_accueil/image_catégories_clim_fujistsu.jpg" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Fujitsu</h2>
                <p class="text-center"><a class="btn btn-success">Voir l'article</a></p>
            </div>
        </div>
    </section>
    <!-- End Categories of The Month -->


    <!-- Start Featured Product -->
    <section class="bg-light">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Nos compétences</h1>
                    <p>
                        Nous avons à coeur de vous offrir les meilleurs services et les meilleurs produits au meilleur prix! 
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="shop-single.html">
                            <img src="assets/img_accueil/clim_portable.jpeg" class="card-img-top" alt="clim_portable">
                        </a>
                        <div class="card-body">
                            <a href="shop-single.html" class="h2 text-decoration-none text-dark">Tous les types de climatisation</a>
                            <p class="card-text">
                                Trouvez toutes les réponses à vos besoins
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="shop-single.html">
                            <img src="assets/img_accueil/groupe_externe_mitsu.jpeg" class="card-img-top" alt="groupe_externe_mitsu">
                        </a>
                        <div class="card-body">
                            <a href="shop-single.html" class="h2 text-decoration-none text-dark">Des installations sur-mesure</a>
                            <p class="card-text">
                                Nous nous adaptons à vous.
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="shop-single.html">
                            <img src="assets/img_accueil/cassette_interieure.jpeg" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <a href="shop-single.html" class="h2 text-decoration-none text-dark">Un travail propre et soigné</a>
                            <p class="card-text">
                                Ayez l'esprit tranquille, nous travaillons proprement et professionnellement
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Featured Product -->
     <!-- Start Brands -->
    <section class="bg-light py-5">
        <div class="container my-4">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Our Brands</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        Lorem ipsum dolor sit amet.
                    </p>
                </div>
                <div class="col-lg-9 m-auto tempaltemo-carousel">
                    <div class="row d-flex flex-row">
                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#multi-item-example" role="button" data-bs-slide="prev">
                                <i class="text-light fas fa-chevron-left"></i>
                            </a>
                        </div>
                        <!--End Controls-->

                        <!--Carousel Wrapper-->
                        <div class="col">
                            <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="multi-item-example" data-bs-ride="carousel">
                                <!--Slides-->
                                <div class="carousel-inner product-links-wap" role="listbox">

                                    <!--First slide-->
                                    <div class="carousel-item active">
                                        <div class="row">
                                            <div class="col-4 p-md-6">
                                                <a href="#"><img class="img-fluid brand-img" src="/assets/img/airwell-logo.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-4 p-md-6">
                                                <a href="#"><img class="img-fluid brand-img" src="/assets/img/logo-Atlantic.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-4 p-md-6">
                                                <a href="#"><img class="img-fluid brand-img" src="/assets/img/Mitsubishi-logo.png" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End First slide-->

                                    <!--Second slide-->
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-4 p-md-6">
                                                <a href="#"><img class="img-fluid brand-img" src="/assets/img/airwell-logo.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-4 p-md-6">
                                                <a href="#"><img class="img-fluid brand-img" src="/assets/img/logo-Atlantic.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-4 p-md-6">
                                                <a href="#"><img class="img-fluid brand-img" src="/assets/img/Mitsubishi-logo.png" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Second slide-->

                                    <!--Third slide-->
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-4 p-md-6">
                                                <a href="#"><img class="img-fluid brand-img" src="/assets/img/airwell-logo.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-4 p-md-6">
                                                <a href="#"><img class="img-fluid brand-img" src="/assets/img/logo-Atlantic.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-4 p-md-6 center-element">
                                                <a href="#"><img class="img-fluid brand-img" src="/assets/img/Mitsubishi-logo.png" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Third slide-->

                                </div>
                                <!--End Slides-->
                            </div>
                        </div>
                        <!--End Carousel Wrapper-->

                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#multi-item-example" role="button" data-bs-slide="next">
                                <i class="text-light fas fa-chevron-right"></i>
                            </a>
                        </div>
                        <!--End Controls-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!--End Brands-->
{% endblock %}
