{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="card col-9 p-3" style="margin-top: 100px; margin-left: 150px">
        <img src={{ contact_images.getAdresseImage }} class="card-img-top" alt="climair_noël">
            <div class="card-body">
                <h5 class="card-title">Contact</h5>
                <p class="card-text">Pour tous devis, veuillez créer un compte <a href="">ici</a> </p>
                <a href="#" class="btn btn-primary">Nous contacter</a>
            </div>
        </div>
{% endblock %}
