<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Climair{% endblock %}</title>
    <link rel="shortcut icon" href="https://i.goopics.net/7ercel.gif">
        {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">     
        <link rel="stylesheet" href="assets/styles/app.css">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {# {{ encore_entry_script_tags('app') }} #}
        {% endblock %}
  </head>
  <body>
  
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <img src="https://i.goopics.net/7ercel.gif" class="santa" alt="">
    <div class="container-fluid">
        <a class="navbar-brand text-warning ms-3" href="/clim/accueil">Clim Air</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
           <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu active">
            <li><a class="dropdown-item" href="#">Devis</a></li>
            <li><a class="dropdown-item" href="#">Boutique</a></li>
            <li><a class="dropdown-item" href="#">À propos</a></li>
          </ul>
        </li>
            <li class="nav-item ms-4">
            <a class="nav-link active" href="#">Catalogue</a>
            </li>
            <li class="nav-item ms-4">
            <a class="nav-link active" href="#">Boutique</a>
            </li>
            <li class="nav-item ms-4">
            <a class="nav-link active" href="/clim/contact">Contact</a>
            </li>
            <li class="nav-item ms-4">
            <a class="nav-link active" href="/clim/a-propos">À propos</a>
            </li>
        </ul>
        <div class="me-2"><button type="button" class="btn btn-primary"><i class="fa-solid fa-user"></i> Connexion</button></div>
        <div class="me-2"><button type="button" class="btn btn-primary">S'inscrire</button></div>
        </div>
    </div>
    </nav>
     {% block body %}{% endblock %}
     <!-- FOOOTER -->
    <footer class="mt-5">
      <div class="d-flex col-12 bg-primary-subtle text-body-emphasis justify-content-between" style="height: 160px">
          <div class="col-3 text-body-emphasis mt-4 ms-5">
            <a href="/clim/a-propos" class="text-body-emphasis fw-bold"><h6>À propos</h6></a>
            
            <a href="#" class="text-body-emphasis fs-6 fw-normal">Fonctionnement du site</a>
            <br>
            <a href="#" class="text-body-emphasis fs-6 fw-normal">Conditions générales de vente</a>
            <br>
            <a href="#" class="text-body-emphasis fs-6 fw-normal">Données et confidentialité</a>
            <br>
          </div>
          <div class="col-3 text-dark mt-4 ms-5">
            <a href="#" class="text-body fw-bold"><h6>Boutique</h6></a>
            <a href="#" class="text-body-emphasis fs-6 fw-normal">Nos produits</a>
            <br>
            <a href="#" class="text-body-emphasis fs-6 fw-normal">Devis</a>
            <br>
          </div>
          <div class="col-3 text-dark mt-4 ms-5">
            <a href="#" class="text-body-emphasis fw-bold"><h6>Assistance</h6></a>
            <a href="#" class="text-body-emphasis fs-6 fw-normal">Centre d'aide</a>
            <br>
            <a href="#" class="text-body-emphasis fs-6 fw-normal">Nous contacter</a>
          </div>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/9848dee952.js" crossorigin="anonymous"></script>
  </body>
  
</html>