{% extends 'base.html.twig' %}

{% block body %}
    <h1>Résultats de recherche</h1>

    <ul>
        {% for result in results %}
<li>{{ (result.nom_article is defined and result.nom_article is not null and result.nom_article is same as('string')) ? result.nom_article : (is_string(result.nom) ? result.nom : '') }}</li>
        {% endfor %}
    </ul>
{% endblock %}

